workflows/chatbot-slack-openrouter.json
{
  "updatedAt": "2026-02-22T19:11:00.272Z",
  "createdAt": "2026-02-22T18:41:34.997Z",
  "id": "a96l3U1U2OTdcels",
  "name": "ChatBot",
  "description": null,
  "active": true,
  "isArchived": false,
  "nodes": [
    {
      "parameters": {
        "trigger": [
          "message",
          "app_mention"
        ],
        "channelId": {
          "__rl": true,
          "value": "C0AGD6V1U7Q",
          "mode": "list",
          "cachedResultName": "n8n-chatbot"
        },
        "options": {}
      },
      "id": "node-slack-trigger",
      "name": "Slack Trigger",
      "type": "n8n-nodes-base.slackTrigger",
      "typeVersion": 1,
      "position": [
        240,
        304
      ],
      "webhookId": "b3e1f4a2-9c7d-4e8f-a012-3b5c6d7e8f90",
      "credentials": {
        "slackApi": {
          "id": "WHD6a0UsTiaS0AiG",
          "name": "slack_n8n"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "loose"
          },
          "conditions": [
            {
              "id": "no-bot",
              "leftValue": "={{ $json.event.bot_id }}",
              "rightValue": "",
              "operator": {
                "type": "string",
                "operation": "empty",
                "singleValue": true
              }
            },
            {
              "id": "no-subtype",
              "leftValue": "={{ $json.event.subtype }}",
              "rightValue": "",
              "operator": {
                "type": "string",
                "operation": "empty",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "node-filter",
      "name": "Filtre messages bot",
      "type": "n8n-nodes-base.filter",
      "typeVersion": 2,
      "position": [
        464,
        304
      ]
    },
    {
      "parameters": {
        "agent": "conversationalAgent",
        "promptType": "define",
        "text": "={{ $('Slack Trigger').item.json.event.text }}",
        "options": {
          "systemMessage": "Tu es un assistant IA utile et concis. Réponds de manière claire et structurée. Si tu ne sais pas, dis-le franchement."
        }
      },
      "id": "node-ai-agent",
      "name": "AI Agent",
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 1.7,
      "position": [
        688,
        304
      ]
    },
    {
      "parameters": {
        "model": "openai/gpt-4o-mini",
        "options": {}
      },
      "id": "node-openrouter",
      "name": "OpenRouter Chat Model",
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenRouter",
      "typeVersion": 1,
      "position": [
        688,
        528
      ],
      "credentials": {
        "openRouterApi": {
          "id": "ECSg6osICiIyWCPN",
          "name": "OpenRouter account"
        }
      }
    },
    {
      "parameters": {
        "contextWindowLength": 10
      },
      "id": "node-memory",
      "name": "Mémoire conversation",
      "type": "@n8n/n8n-nodes-langchain.memoryBufferWindow",
      "typeVersion": 1.3,
      "position": [
        912,
        528
      ]
    },
    {
      "parameters": {
        "select": "channel",
        "channelId": {
          "__rl": true,
          "value": "={{ $('Slack Trigger').item.json.event.channel }}",
          "mode": "id"
        },
        "text": "={{ $json.output }}",
        "otherOptions": {
          "thread_ts": "={{ $('Slack Trigger').item.json.event.thread_ts || $('Slack Trigger').item.json.event.ts }}"
        },
        "operation": "post"
      },
      "id": "node-slack-send",
      "name": "Réponse Slack",
      "type": "n8n-nodes-base.slack",
      "typeVersion": 2.2,
      "position": [
        1024,
        240
      ],
      "webhookId": "4dfd8eae-329d-45dc-8274-f8011b065520",
      "credentials": {
        "slackApi": {
          "id": "WHD6a0UsTiaS0AiG",
          "name": "slack_n8n"
        }
      }
    }
  ],
  "connections": {
    "Slack Trigger": {
      "main": [
        [
          {
            "node": "Filtre messages bot",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Filtre messages bot": {
      "main": [
        [
          {
            "node": "AI Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "AI Agent": {
      "main": [
        [
          {
            "node": "Réponse Slack",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OpenRouter Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Mémoire conversation": {
      "ai_memory": [
        [
          {
            "node": "AI Agent",
            "type": "ai_memory",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1",
    "saveManualExecutions": true,
    "callerPolicy": "workflowsFromSameOwner",
    "availableInMCP": false,
    "timeSavedMode": "fixed",
    "timezone": "Europe/Paris"
  },
  "staticData": null,
  "meta": null,
  "pinData": {},
  "versionId": "b1c2175b-8051-4204-ac3f-1fc195969790",
  "activeVersionId": "b1c2175b-8051-4204-ac3f-1fc195969790",
  "versionCounter": 16,
  "triggerCount": 1,
  "shared": [
    {
      "updatedAt": "2026-02-22T18:41:34.997Z",
      "createdAt": "2026-02-22T18:41:34.997Z",
      "role": "workflow:owner",
      "workflowId": "a96l3U1U2OTdcels",
      "projectId": "4GOIprkBCF4nVkqp",
      "project": {
        "updatedAt": "2026-02-22T18:18:29.403Z",
        "createdAt": "2026-02-22T18:04:58.823Z",
        "id": "4GOIprkBCF4nVkqp",
        "name": "Thomas Guillaumin <thomas@nosho.io>",
        "type": "personal",
        "icon": null,
        "description": null,
        "creatorId": "06ca0b20-fa39-4fb0-9c89-ddceb7bb7669",
        "projectRelations": [
          {
            "updatedAt": "2026-02-22T18:04:58.823Z",
            "createdAt": "2026-02-22T18:04:58.823Z",
            "userId": "06ca0b20-fa39-4fb0-9c89-ddceb7bb7669",
            "projectId": "4GOIprkBCF4nVkqp",
            "user": {
              "updatedAt": "2026-02-22T18:51:02.020Z",
              "createdAt": "2026-02-22T18:04:57.245Z",
              "id": "06ca0b20-fa39-4fb0-9c89-ddceb7bb7669",
              "email": "thomas@nosho.io",
              "firstName": "Thomas",
              "lastName": "Guillaumin",
              "personalizationAnswers": {
                "version": "v4",
                "personalization_survey_submitted_at": "2026-02-22T18:18:55.981Z",
                "personalization_survey_n8n_version": "2.1.5",
                "companySize": "<20",
                "companyType": "saas",
                "role": "business-owner",
                "reportedSource": "twitter"
              },
              "settings": {
                "userActivated": false,
                "easyAIWorkflowOnboarded": true
              },
              "disabled": false,
              "mfaEnabled": false,
              "lastActiveAt": "2026-02-22",
              "isPending": false
            }
          }
        ]
      }
    }
  ],
  "tags": [],
  "activeVersion": {
    "updatedAt": "2026-02-22T19:11:00.274Z",
    "createdAt": "2026-02-22T19:11:00.274Z",
    "versionId": "b1c2175b-8051-4204-ac3f-1fc195969790",
    "workflowId": "a96l3U1U2OTdcels",
    "nodes": [
      {
        "parameters": {
          "trigger": [
            "message",
            "app_mention"
          ],
          "channelId": {
            "__rl": true,
            "value": "C0AGD6V1U7Q",
            "mode": "list",
            "cachedResultName": "n8n-chatbot"
          },
          "options": {}
        },
        "id": "node-slack-trigger",
        "name": "Slack Trigger",
        "type": "n8n-nodes-base.slackTrigger",
        "typeVersion": 1,
        "position": [
          240,
          304
        ],
        "webhookId": "b3e1f4a2-9c7d-4e8f-a012-3b5c6d7e8f90",
        "credentials": {
          "slackApi": {
            "id": "WHD6a0UsTiaS0AiG",
            "name": "slack_n8n"
          }
        }
      },
      {
        "parameters": {
          "conditions": {
            "options": {
              "caseSensitive": true,
              "leftValue": "",
              "typeValidation": "loose"
            },
            "conditions": [
              {
                "id": "no-bot",
                "leftValue": "={{ $json.event.bot_id }}",
                "rightValue": "",
                "operator": {
                  "type": "string",
                  "operation": "empty",
                  "singleValue": true
                }
              },
              {
                "id": "no-subtype",
                "leftValue": "={{ $json.event.subtype }}",
                "rightValue": "",
                "operator": {
                  "type": "string",
                  "operation": "empty",
                  "singleValue": true
                }
              }
            ],
            "combinator": "and"
          },
          "options": {}
        },
        "id": "node-filter",
        "name": "Filtre messages bot",
        "type": "n8n-nodes-base.filter",
        "typeVersion": 2,
        "position": [
          464,
          304
        ]
      },
      {
        "parameters": {
          "agent": "conversationalAgent",
          "promptType": "define",
          "text": "={{ $('Slack Trigger').item.json.event.text }}",
          "options": {
            "systemMessage": "Tu es un assistant IA utile et concis. Réponds de manière claire et structurée. Si tu ne sais pas, dis-le franchement."
          }
        },
        "id": "node-ai-agent",
        "name": "AI Agent",
        "type": "@n8n/n8n-nodes-langchain.agent",
        "typeVersion": 1.7,
        "position": [
          688,
          304
        ]
      },
      {
        "parameters": {
          "model": "openai/gpt-4o-mini",
          "options": {}
        },
        "id": "node-openrouter",
        "name": "OpenRouter Chat Model",
        "type": "@n8n/n8n-nodes-langchain.lmChatOpenRouter",
        "typeVersion": 1,
        "position": [
          688,
          528
        ],
        "credentials": {
          "openRouterApi": {
            "id": "ECSg6osICiIyWCPN",
            "name": "OpenRouter account"
          }
        }
      },
      {
        "parameters": {
          "contextWindowLength": 10
        },
        "id": "node-memory",
        "name": "Mémoire conversation",
        "type": "@n8n/n8n-nodes-langchain.memoryBufferWindow",
        "typeVersion": 1.3,
        "position": [
          912,
          528
        ]
      },
      {
        "parameters": {
          "select": "channel",
          "channelId": {
            "__rl": true,
            "value": "={{ $('Slack Trigger').item.json.event.channel }}",
            "mode": "id"
          },
          "text": "={{ $json.output }}",
          "otherOptions": {
            "thread_ts": "={{ $('Slack Trigger').item.json.event.thread_ts || $('Slack Trigger').item.json.event.ts }}"
          },
          "operation": "post"
        },
        "id": "node-slack-send",
        "name": "Réponse Slack",
        "type": "n8n-nodes-base.slack",
        "typeVersion": 2.2,
        "position": [
          1024,
          240
        ],
        "webhookId": "4dfd8eae-329d-45dc-8274-f8011b065520",
        "credentials": {
          "slackApi": {
            "id": "WHD6a0UsTiaS0AiG",
            "name": "slack_n8n"
          }
        }
      }
    ],
    "connections": {
      "Slack Trigger": {
        "main": [
          [
            {
              "node": "Filtre messages bot",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Filtre messages bot": {
        "main": [
          [
            {
              "node": "AI Agent",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "AI Agent": {
        "main": [
          [
            {
              "node": "Réponse Slack",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "OpenRouter Chat Model": {
        "ai_languageModel": [
          [
            {
              "node": "AI Agent",
              "type": "ai_languageModel",
              "index": 0
            }
          ]
        ]
      },
      "Mémoire conversation": {
        "ai_memory": [
          [
            {
              "node": "AI Agent",
              "type": "ai_memory",
              "index": 0
            }
          ]
        ]
      }
    },
    "authors": "Thomas Guillaumin",
    "name": null,
    "description": null,
    "autosaved": false,
    "workflowPublishHistory": [
      {
        "createdAt": "2026-02-22T19:11:08.105Z",
        "id": 5,
        "workflowId": "a96l3U1U2OTdcels",
        "versionId": "b1c2175b-8051-4204-ac3f-1fc195969790",
        "event": "activated",
        "userId": "06ca0b20-fa39-4fb0-9c89-ddceb7bb7669"
      }
    ]
  }
}
