workflows/chatbot-slack-openrouter.json
{
  "updatedAt": "2026-02-22T18:41:34.997Z",
  "createdAt": "2026-02-22T18:41:34.997Z",
  "id": "a96l3U1U2OTdcels",
  "name": "ChatBot",
  "description": null,
  "active": false,
  "isArchived": false,
  "nodes": [
    {
      "parameters": {
        "updates": [
          "message"
        ],
        "additionalFields": {}
      },
      "id": "node-slack-trigger",
      "name": "Slack Trigger",
      "type": "n8n-nodes-base.slackTrigger",
      "typeVersion": 1,
      "position": [
        240,
        300
      ],
      "webhookId": "chatbot-slack-webhook-01"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict"
          },
          "conditions": [
            {
              "id": "no-bot",
              "leftValue": "={{ $json.event.bot_id }}",
              "rightValue": "",
              "operator": {
                "type": "string",
                "operation": "empty",
                "singleValue": true
              }
            },
            {
              "id": "no-subtype",
              "leftValue": "={{ $json.event.subtype }}",
              "rightValue": "",
              "operator": {
                "type": "string",
                "operation": "empty",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "node-filter",
      "name": "Filtre messages bot",
      "type": "n8n-nodes-base.filter",
      "typeVersion": 2,
      "position": [
        460,
        300
      ]
    },
    {
      "parameters": {
        "agent": "conversationalAgent",
        "promptType": "define",
        "text": "={{ $('Slack Trigger').item.json.event.text }}",
        "options": {
          "systemMessage": "Tu es un assistant IA utile et concis. Réponds de manière claire et structurée. Si tu ne sais pas, dis-le franchement."
        }
      },
      "id": "node-ai-agent",
      "name": "AI Agent",
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 1.7,
      "position": [
        680,
        300
      ]
    },
    {
      "parameters": {
        "model": "openai/gpt-4o-mini",
        "options": {}
      },
      "id": "node-openrouter",
      "name": "OpenRouter Chat Model",
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenRouter",
      "typeVersion": 1,
      "position": [
        680,
        520
      ]
    },
    {
      "parameters": {
        "contextWindowLength": 10
      },
      "id": "node-memory",
      "name": "Mémoire conversation",
      "type": "@n8n/n8n-nodes-langchain.memoryBufferWindow",
      "typeVersion": 1.3,
      "position": [
        900,
        520
      ]
    },
    {
      "parameters": {
        "select": "channel",
        "channelId": {
          "__rl": true,
          "value": "={{ $('Slack Trigger').item.json.event.channel }}",
          "mode": "id"
        },
        "text": "={{ $json.output }}",
        "otherOptions": {
          "thread_ts": "={{ $('Slack Trigger').item.json.event.thread_ts || $('Slack Trigger').item.json.event.ts }}"
        }
      },
      "id": "node-slack-send",
      "name": "Réponse Slack",
      "type": "n8n-nodes-base.slack",
      "typeVersion": 2.2,
      "position": [
        900,
        300
      ]
    }
  ],
  "connections": {
    "Slack Trigger": {
      "main": [
        [
          {
            "node": "Filtre messages bot",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Filtre messages bot": {
      "main": [
        [
          {
            "node": "AI Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "AI Agent": {
      "main": [
        [
          {
            "node": "Réponse Slack",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OpenRouter Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Mémoire conversation": {
      "ai_memory": [
        [
          {
            "node": "AI Agent",
            "type": "ai_memory",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1",
    "saveManualExecutions": true,
    "callerPolicy": "workflowsFromSameOwner",
    "availableInMCP": false
  },
  "staticData": null,
  "meta": null,
  "pinData": null,
  "versionId": "3e1d2057-a544-4e0d-963b-df594f31abab",
  "activeVersionId": null,
  "versionCounter": 1,
  "triggerCount": 0,
  "shared": [
    {
      "updatedAt": "2026-02-22T18:41:34.997Z",
      "createdAt": "2026-02-22T18:41:34.997Z",
      "role": "workflow:owner",
      "workflowId": "a96l3U1U2OTdcels",
      "projectId": "4GOIprkBCF4nVkqp",
      "project": {
        "updatedAt": "2026-02-22T18:18:29.403Z",
        "createdAt": "2026-02-22T18:04:58.823Z",
        "id": "4GOIprkBCF4nVkqp",
        "name": "Thomas Guillaumin <thomas@nosho.io>",
        "type": "personal",
        "icon": null,
        "description": null,
        "creatorId": "06ca0b20-fa39-4fb0-9c89-ddceb7bb7669",
        "projectRelations": [
          {
            "updatedAt": "2026-02-22T18:04:58.823Z",
            "createdAt": "2026-02-22T18:04:58.823Z",
            "userId": "06ca0b20-fa39-4fb0-9c89-ddceb7bb7669",
            "projectId": "4GOIprkBCF4nVkqp",
            "user": {
              "updatedAt": "2026-02-22T18:18:56.029Z",
              "createdAt": "2026-02-22T18:04:57.245Z",
              "id": "06ca0b20-fa39-4fb0-9c89-ddceb7bb7669",
              "email": "thomas@nosho.io",
              "firstName": "Thomas",
              "lastName": "Guillaumin",
              "personalizationAnswers": {
                "version": "v4",
                "personalization_survey_submitted_at": "2026-02-22T18:18:55.981Z",
                "personalization_survey_n8n_version": "2.1.5",
                "companySize": "<20",
                "companyType": "saas",
                "role": "business-owner",
                "reportedSource": "twitter"
              },
              "settings": {
                "userActivated": false
              },
              "disabled": false,
              "mfaEnabled": false,
              "lastActiveAt": "2026-02-22",
              "isPending": false
            }
          }
        ]
      }
    }
  ],
  "tags": [],
  "activeVersion": null
}
